body {
    font-family: Arial;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.form-container, .filter {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

input {
    display: block;
    margin: 5px 0;
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}

.course {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.delete-btn {
    background: red;
    color: white;
}